<div class="container p-5 shadow">
    <h1>New Transaction</h1>
    <div class="row px-5 py-2">
        <div class="col-4">
            <label for="type">Transaction Type</label>
        </div>
        <div class="col-8">
            <!-- below ngModel needs to be modified. Temporarily named after 'credit' to progress task -->
            <select [(ngModel)]="transaction.credit" ng-required='required'>  
                <option value="debit" selected>debit</option>
                <option value="credit">credit</option>
            </select>
        </div>
    </div>

    <div class="row px-5 py-2">
        <div class="col-4">
            <label for="amount">Amount</label>
        </div>
        <div class="col-8">
            <!-- below ngModel needs to be modified. Temporarily named after 'debit' to progress task -->
            <input type="text" class="form-control" [(ngModel)]="transaction.debit" ng-required='required'>
        </div>
    </div>

    <div class="row px-5 py-2">
        <div class="col-4">
            <label for="amount">Description</label>
        </div>
        <div class="col-8">
            <textarea class="form-control" [(ngModel)]="transaction.description" ng-required='required' ></textarea>
        </div>
    </div>

    

    <div class="row px-5 py-2">
        <div class="col-12 text-end">
            <button (click)="save()" >Save</button>
        </div>
    </div>


</div>